* 
  border: 1px solid black
  box-sizing: border-box


.drum-machine-title 
  color: red
  text-align: center




#wrapDisplay
  // border: 5px solid red
  display: grid
  width: 600px
  margin: auto
  grid-template-columns: 1fr
  justify-items: center
  align-items: center

#display 
  //text-align: center
  width: 400px
  height: 50px


#wrapDisplay #display 
  text-align: center
  padding: 1rem


.all-pads 
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  width: 600px
  margin: auto
  justify-items: center
  align-items: center

.all-pads .drum-pad 
  width: 200px
  height: 200px
  font-size: 5rem
  text-align: center



.all-pads .drum-pad:hover 
  border: 5px solid red



#drum-machine .all-pads .drum-pad:active 
  border: 5px solid yellow
  background: yellow

// Add images for the drum pads 

#heater-1, #heater-2, #heater-3, #heater-4 
  background-image: url("../images/guitar.png")
  background-size: cover



#clap 
  background-image: url("../images/clap.png")
  background-size: cover



#open-hh, #kick-and-hat, #kick, #close-hh 
  background-image: url("../images/drum.png")
  background-size: cover
















